.wrapper{
  padding: 40px;
  background-color: #F4F4F4;
  // background-size: cover;

  .car-card {
    margin-bottom: 2em;
  }
}

.card {
  position: relative;
  height: 200px;
  width: 350px;
  border-radius: 9px;
  color: white;
  margin: 0 auto;
  background-size: cover;
  flex: 0 1 auto;
}

.card-content {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color:white;
}

.list-title {
  padding: 20px;
}

.edit-link {
  position:absolute;
  bottom:9px;
  right: 45px;
}
