/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#title{
  margin:0;
  padding:20px;
}
.search-bar {
  padding: 30 30px;
  margin: 60px;
}

.search-bar > input {
  margin: 10px;
}

.wrapper-top {
  margin: auto;
  height: 600px;
  width:100%;
  background-image: image-url("background-img.jpg");
  background-size:cover;
}

.wrapper-bottom{
  padding: 60px ;
  background-color: #F4F4F4;
  // background-size: cover;

  .car-card {
    margin-bottom: 2em;
  }
}


.card {
  position: relative;
  height: 200px;
  width: 350px;
  border-radius: 9px;
  color: white;
  margin: 0 auto;
  background-size: cover;
  flex: 0 1 auto;
  // background : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2))
  // Where do I put this fu***** shit?

  .card-name {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 10px;
    left: 10px;
  }

  .card-content {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
}
