/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#title{
  margin:0;
  padding:20px;
  font-weight:bold;
  font-family:$header-font;
  letter-spacing: 1px;
}
.search-bar {
  padding: 30 30px;
  margin: 60px;
}

.search-bar > input {
  margin: 10px;
}

.wrapper-top {
  margin: auto;
  height: 600px;
  width:100%;
  background-size:cover;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.15) 0%, rgba(0,36,61,0.3) 50%), image-url('background-img.jpg');

}

.wrapper-bottom{
  padding: 60px ;
  background-color: #F4F4F4;
  // background-size: cover;

  .car-card {
    margin-bottom: 2em;
  }
}


.card {
  position: relative;
  height: 200px;
  width: 350px;
  border-radius: 9px;
  margin: 0 auto;
  background-size: cover;
  flex: 0 1 auto;
  // Where do I put this fu***** shit?

  .card-content {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }

}
