h2 {
  ;
}

.form-inputs {
  ;
}

.awesome-article {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 935px;
    width: 25%;
    background-color: #DCDCDC;
    font-family: arial;
}

.login-box {
    color: #262626;
    flex-grow: 1;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.form-inputs {
    padding-bottom: 5px;
}

.style-form {

}
