<form action = “/bookings”, method= “post” >
<label for = “message”> Message: </label>
<input type = “text” message = booking[message] id= “message”>
<input date_start>
<input date_end>
<input car_id>
<input user_id>
<input type submit>
</form>
