<div class="text-center">
  <h1>VipRide</h1>
  <h4>Click on it, drive it !</h4>
</div>

<!-- Search form -->
<div class="container search-bar">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-3 col-sm-offset-4 text-inline">
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search a car">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Car cards -->
<div class="cards-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)), image_tag('847298-luxury-wallpaper.jpg');">
          <div class="card-name">Beautiful car</div>
          <div class="card-content">
              <p>Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>

    <div class="col-xs-12 col-md-4">
      <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)), url('images/card-brussels.jpeg');">
        <div class="card-name">Other beautiful car</div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>

  <div class="col-xs-12 col-md-4">
    <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)), url('images/card-london.jpeg');">
      <div class="card-name">Ferrari</div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit.</p>
      </div>
    </div>
  </div>

</div>
</div>
</div>
