<div class="wrapper-top">
  <div class="text-center">
    <h1>VipRide</h1>
    <h4>Click on it, drive it !</h4>
  </div>

  <!-- Search form -->
    <div class="text-center">
      <form action="/" class="search-bar form-inline">
        <input type="text" name="brand" class="navbar-wagon-search-input" placeholder="Brand">
        <!-- name brand to be modified by Celine - from Cedric -->
        <input type="text" class="navbar-wagon-search-input" placeholder="Model">
        <input type="text" class="navbar-wagon-search-input" placeholder="City">

        <input type="text" class="datepicker" value id="dpd1" data-provide="datepicker-inline">
        <input type="text" class="datepicker" value id="dpd2" data-provide="datepicker-inline">

        <button type="submit" class="btn btn-default">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>

<!-- Car cards -->
<div class="cards-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)), url('847298-luxury-wallpaper.jpg') ;">
          <div class="card-name">Beautiful car</div>
          <div class="card-content">
              <p>Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>

    <div class="col-xs-12 col-md-4">
      <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)), url('847298-luxury-wallpaper.jpg');">
        <div class="card-name">Other beautiful car</div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>

  <div class="col-xs-12 col-md-4">
    <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)), url('847298-luxury-wallpaper.jpg');">
      <div class="card-name">Ferrari</div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit.</p>
      </div>
    </div>
  </div>


</div>
</div>
</div>
