

<article class="awesome-article text-center">
  <h2>Log in</h2>
  <div class="login-box">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <form class="style-form">
        <div class="form-inputs">
          <input type="text" class="text-center" aria-describedby="" aria-label="Username" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="Username" value="">
          <input type="password" class="_kp5f7 _qy55y text-center" aria-describedby="" aria-label="Password" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="Password" value="">
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Log in" %>
        </div>

      </form>

    <% end %>
  </div>

<%= render "devise/shared/links" %>

</article>
