.dashboard{
  // background-color: brown;
  background-image: image-url("greyshells.jpg");
  background-attachment: scroll;
  background-size: 100%;
  height: 650px;
}

.table {
  background: #64868E;
  border: 2px, solid, black;
  align-items: center;
  color: black;
}

.split {
 background: #F3FBF1;
 color: black;
}

th{
 opacity: 0.9;
  border: 2px solid black;
  border-radius: 5px;
  background: #98B4A6;
  color:black;
  text-align: center;
}

td {
 border: 2px solid black;
 border-radius: 1px;
}

.sky {
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: impact;
  text-align: center;
  background-color: #64868E;
  background-size: 100%;
  border-radius: 10px;
  color: black;
}
