.deco {
  background-image: image-url("fire.jpg");
}

.img {
  align: center;
}

.book {
  background-color: #C1C1C2;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 30px;
}

.cool{
   display: flex;
   justify-content: center
}

